*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
div.container{
    margin: 1% 5%;
}
.titre-parag {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    background-color: black;
    width: 100vw;
    height: 45vh;
    margin-left: -19px;
}
.container h2 {
    color: white;
    font-size: 15px;
}
.titre-parag p {
    color: white;
}
.Buttons {
    display: flex;
    align-items: center;  
    padding: 14px;
    margin-top: 10px;
      
}
.sign_in {
    display: flex;
    align-items: center;
    width: 8rem;
    height: 3rem;
    border: none;
    border-radius: 5px;
    margin-left: 30px;
    font-size: 14px;
}
.sign_in:hover {
    cursor: pointer;
    box-shadow: 1px 3px rgb(211, 211, 199);
}
.exploring {
    width: 8rem;
    height: 3rem;
    margin-left: 26px;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to right, #ec5252 6%, #bc38dd  133%, #ec5252  100%);         
    color: white;
}
.exploring:hover {
    font-size: 15px;
    color: beige;
    cursor: pointer;
}
.fotos {
    margin-top: 6rem;
}
.fotos-left1 {
    display: flex;
    justify-content: space-between;
}
.foto-left2 {
    text-align: center;
    margin-top: 20px;
}
.fotos-right1 {
    display: flex;
    justify-content: space-between;
    height: 8rem;
    margin: 1rem;
}
.fotos-right2 {
    margin: 1rem;
    text-align: center;
}
.img7 {
    margin-top: 1rem;
}
@media screen and (min-width: 768px) {
    .titre-parag {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        background-color: black;
        width: 100vw;
        height: 30vh;
        display: flex;
    }
    .Buttons {
        width: 70%;
    }
    .container h2 {
        font-size: 25px;
    }
    p {
        font-size: 25px;
    }
    .sign_in {
        width: 75%;
        height: 70px;
        font-size: 17px;
    }
    .exploring {
        width: 230px;
        font-size: 18px;
    }
    .Img-signup {
        height: 25%;
        width: 56%;
        display: flex;
        position: absolute;
        margin-left: 330px;
        margin-top: 95px;
    }
    .fotos {
        margin-top: 9rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .fotos-left1 {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 0%;
    }
    .img1 {
        width: 340px;
        height: 205px;
        margin-bottom: 1rem;
    }
    .img2 {
        margin-left: 2rem;
        width: 305px;
        height: 185px;
        padding-top: 0px;
        margin-top: 5px;
    }
    .foto-left2 {
        height: 342px;
        margin-top: 0px;
        
    }
    .img3 {
        height: 410px;
    }
    .fotos-right1 {
        width: 86%;
        height: 20%;
        display: flex;
        flex-direction: row;
    }
    .img4 {
        margin-bottom: 1rem;
    }
    .fotos-right2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }
    .img6 {
        height: 65%;
        width: 40%;
        margin-left: 45px;
    }
    .img7 {
        height: 65%;
        width: 45%;
        margin-right: 28px;
        margin-top: 0px;
    }
    @media screen and (min-width: 1024px) {
        .titre-parag {
            width: 100%;
            margin-top: 100px;
            display: flex;
            flex-direction: row;
        }
        .container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .Img-signup {
            width: 55%;
            height: 40%;
            margin-left: 450px;
            margin-top: 0px;
        }
        .fotos {
            margin-top: 200px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
        }
        .fotos-left1 {
            width: 26%;
            text-align: left;
        }
        .fotos-right1 {
            display: flex;
            flex-direction: column;
            margin-right: 0px;
        }
        .img4 {
            width: 32%;
        }
        .img5 {
            width: 32%;
        }
        .fotos-right2 {
            width: ;
            display: flex;
            flex-direction: column;
        }
        .img6 {
            margin: 0px;
            width: 90%;
        }
        .img7 {
            height: 47%;
            width: 90%;
            margin-top: 20px;
            margin-right: ;
        }
    }
}

